.catalogue-item {
  max-width: 137px;

  img {
    max-width: 100%;
  }

  .catalogue-info {
    h3 {
      margin-top: 11px;

      @include get-font-styles(18px, 700);

      font-stretch: condensed;
    }
  }
}

@media (min-width: 414px) {
  .catalogue-item {
    max-width: 250px;
  }
}
