@import "../abstracts/functions";
@import "../abstracts/mixins";

.btn {
  text-align: center;

  cursor: pointer;
}

.access-btn {
  width: 100%;
  margin: 0 auto;

  color: get-color();
  font-stretch: condensed;

  background-color: get-color("green");

  border: none;
  border-radius: 5px;

  @include get-font-styles(13.3px, 400, 1.15);
}

.checkout-btn {
  width: 100%;
  height: 66px;

  color: get-color();
  font-stretch: condensed;

  background-color: transparent;

  border: 1px solid get-color();
  border-radius: 5px;

  @include get-font-styles(16px);
}

.album-btn {
  width: 135px;
  height: 53px;

  background-color: transparent;

  border: 1px solid get-color('dark-gray');
  border-radius: 5px;

  a {
    color: get-color('dark-gray');

    @include get-font-styles(12.8px, 400, 1.5);

    font-stretch: condensed;
  }
}

.download-btn {
  width: 131px;
  height: 53px;

  background-color: get-color('red');

  border: 1px solid get-color('red');
  border-radius: 2rem;

  a {
    color: get-color();

    @include get-font-styles(12.8px, 400, 1.5);

    font-stretch: condensed;
  }
}

.art-banner {
  .btn {
    border-radius: 5px;
  }

  .btn + .btn {
    margin-top: 24px;
  }

  .mix-btn,
  .favorite-btn {
    width: 200px;
    height: 62px;

    color: get-color();
    font-stretch: condensed;
    text-align: start;

    @include get-font-styles(12.8px, 400, 1.5);
  }

  .mix-btn {
    background-color: get-color("purple");

    border: 1px solid get-color("purple");
  }

  .favorite-btn {
    background-color: get-color("red");

    border: 1px solid get-color("red");
  }
}

@media (min-width: 375px) {
  .access-btn {
    width: 100%;
  }
}

@media (min-width: 414px) {
  .access-btn {
    width: 100%;
    max-width: 374px;
  }
}

@media (min-width: 650px) {
  .access-btn {
    grid-row: 2 / 2;
    grid-column: 2 / span 2;

    max-width: 570px;

    margin: 0;
  }
}

@media (min-width: 807px) {
  .art-banner {
    .btn + .btn {
      margin-top: 0;
      margin-left: 24px;
    }
  }
}
