@import "../abstracts/functions";
@import "../abstracts/mixins";

.btn {
  text-align: center;
}

.access-btn {
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: get-color("green");
  color: get-color();

  @include get-font-styles(13.3px, 400, 1.15);

  font-stretch: condensed;
}

.checkout-btn {
  width: 100%;
  height: 66px;
  border: 1px solid get-color();
  border-radius: 5px;
  background-color: transparent;
  color: get-color();

  @include get-font-styles(16px);

  font-stretch: condensed;
}

.album-btn {
  width: 135px;
  height: 53px;
  border: 1px solid get-color('dark-gray');
  border-radius: 5px;
  background-color: transparent;

  a {
    color: get-color('dark-gray');

    @include get-font-styles(12.8px, 400, 1.5);

    font-stretch: condensed;
  }
}

.download-btn {
  width: 129px;
  height: 51px;
  border: 1px solid get-color('red');
  border-radius: 2rem;
  background-color: get-color('red');

  a {
    color: get-color();

    @include get-font-styles(12.8px, 400, 1.5);

    font-stretch: condensed;
  }
}

@media (min-width: 375px) {
  .access-btn {
    width: 100%;
  }
}

@media (min-width: 414px) {
  .access-btn {
    width: 100%;
    max-width: 374px;
  }
}

@media (min-width: 650px) {
  .access-btn {
    max-width: 570px;
    margin: 0;
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
  }
}
