@import "../abstracts/functions";
@import "../abstracts/mixins";

#page-app {
  padding: 100px 0;

  h2 {
    margin-bottom: 48px;
    text-align: center;

    @include get-h2-mobile-style;
  }

  .wrapper {
    max-width: 374px;
    margin: 0 auto;

    .flex {
      display: flex;
      flex-direction: column;
  
      img {
        display: block;
        order: 1;
  
        margin: auto;
        width: 100%;
      }
  
      .app-description {
        position: relative;
        top: -14px;
        order: 2;
  
        margin: 0 auto;
  
        .btn {
          margin-top: 16px;
        }
      }
    }
  }
}

@media (min-width: 843px) {
  #page-app {

    h2 {
      @include get-h2-desktop-style;
    }

    .wrapper {
      max-width: 100%;

      .flex {
        flex-direction: row;
  
        max-width: 100%;
  
        .app-description {
          top: 0;
          order: 1;
  
          margin: 0;
          max-width: 600px;
        }
  
        img {
          order: 2;
  
          max-width: 333px;
        }
      }
    }
  }
}
