@import "../abstracts/functions";
@import "../abstracts/mixins";

#page-app {
  max-width: 374px;
  padding: 100px 0;

  h2 {
    margin-bottom: 48px;
    text-align: center;

    @include get-h2-mobile-style;
  }

  .flex {
    flex-direction: column;

    img {
      width: 100%;
      margin-bottom: 16px;
    }

    .app-description {
      position: relative;
      top: -14px;
      order: 2;
      margin: 0 auto;

      .btn {
        margin-top: 16px;
      }
    }
  }
}

@media (min-width: 843px) {
  #page-app {
    max-width: 1200px;

    h2 {
      @include get-h2-desktop-style;
    }

    .flex {
      flex-direction: row;
      max-width: 100%;

      .app-description {
        top: 0;
        order: 1;
        margin: 0 144px 0 0;
      }

      img {
        order: 2;
        max-width: 333px;
        margin-bottom: 0;
      }
    }
  }
}
