.catalogue {
  padding: 100px 20px 0 20px;

  &#page-similar {
    .catalogue-info {
      text-align: center;
    }
  }

  h2 {
    margin-bottom: 48px;

    @include get-h2-mobile-style();
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 137px);
    gap: 25px 20px;
  }
}

@media (min-width: 375px) {
  .catalogue {
    .grid {
      gap: 25px 50px;
    }
  }
}

@media (min-width: 414px) {
  .catalogue {
    .grid {
      grid-template-columns: repeat(2, 1fr);

      margin-right: 50px;
    }
  }
}

@media (min-width: 590px) {
  .catalogue {
    .grid {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 250px);

      margin-right: 0;
    }
  }
}

@media (min-width: 890px) {
  .catalogue {
    .grid {
      grid-template-columns: repeat(3, 250px);
    }
  }
}

@media (min-width: 1024px) {
  .catalogue {
    h2 {
      @include get-h2-desktop-style();
    }
  }
}

@media (min-width: 1350px) {
  .catalogue {
    width: 1200px;

    .grid {
      grid-template-columns: repeat(4, 250px);
    }
  }
}
