@import "../abstracts/functions";

#page-pricing {
  padding: 100px 0 0 0;

  h2 {
    margin-bottom: 46px;
    text-align: center;
    
    @include get-font-styles(18px, 700);
    font-stretch: condensed;
  }

  .common-terms {
    margin-top: 40px;
    text-align: center;
    font-stretch: condensed;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(3, 621px);
    gap: 27px;

    .card {
      width: 100%;
      max-width: 376px;
      min-width: 210px;
      margin: 0 auto;
      text-align: center;
      background-size: cover;
      border: 0.1px solid get-color('black');
      border-radius: 15px;

      h3 {
        margin: 18px 0 184px 0;

        @include get-font-styles(16px, 700);
        font-stretch: condensed;
      }
      
      .price {
        display: flex;
        margin-bottom: 24px;
        justify-content: center;

        .amount {
          margin-right: 16px;
          
          @include get-font-styles(64px);
        }

        span {
          margin-top: 12px;
          
          @include get-font-styles(32px);
        }
      }
      
      .btn-container {
        margin-bottom: 64px;
        padding: 0 24px;
      }

      .terms {
        padding: 0 24px;

        @include get-font-styles(12.8px);
        font-stretch: condensed;
      }
    }

    .card-1 {
      grid-row: 1 / span 1;
      background-image: url(../images/subscribe_1.png);
    }

    .card-2 {
      grid-row: 2 / span 1;
      background-image: url(../images/subscribe_2.png);
    }

    .card-3 {
      grid-row: 3 / span 1;
      background-image: url(../images/subscribe_3.png);
    }
  }
}

@media (min-width: 843px) {
  #page-pricing {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 376px);
      grid-template-rows: repeat(2, 621px);
      justify-content: center;

        .card-1 {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
        }
    
        .card-2 {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

      .card-3 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
      }
    }
  }
}

@media (min-width: 1440px) {
  #page-pricing {
    h2 {
      @include get-font-styles(38px, 700);
      font-stretch: condensed;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 378px);
      grid-template-rows: 621px;

      .card {
        h3 {
          @include get-font-styles(24px, 400, 45/24);
          font-stretch: condensed;
        }
      }

        .card-1 {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
        }
    
        .card-2 {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

      .card-3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
      }
    }

    .common-terms {
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}