@import "../abstracts/functions";

#page-pricing {
  padding: 104px 20px 0 20px;

  h2 {
    margin-bottom: 47px;
    text-align: center;

    @include get-h2-mobile-style;
  }

  .common-terms {
    margin-top: -10px;
    text-align: center;
  }

  .flex {
    .card {
      width: 100%;
      min-width: 210px;
      margin: 0 0 48px 0;
      text-align: center;
      background-size: cover;
      border: 0.1px solid get-color('black');
      border-radius: 15px;

      h3 {
        margin: 21px 0 179px 0;

        @include get-font-styles(16px, 700);
      }

      .price {
        display: flex;
        margin-bottom: 24px;
        justify-content: center;

        .amount {
          margin-right: 16px;

          @include get-font-styles(64px);
        }

        span {
          margin-top: 16px;

          @include get-font-styles(32px);
        }
      }

      .btn-container {
        margin-bottom: 64px;
        padding: 0 24px;
      }

      .terms {
        margin-bottom: 64px;
        padding: 0 25px;

        @include get-font-styles(12.8px);
      }
    }

    .card-1 {
      max-width: 367px;
      background-image: url(../images/subscribe_1.png);
    }

    .card-2 {
      max-width: 365px;
      background-image: url(../images/subscribe_2.png);
    }

    .card-3 {
      max-width: 367px;
      background-image: url(../images/subscribe_3.png);
    }
  }
}

@media (min-width: 843px) {
  #page-pricing {
    h2 {
      @include get-h2-desktop-style;
    }
  }
}

@media (min-width: 1440px) {
  #page-pricing {
    .flex {
      justify-content: space-between;

      .card {
        h3 {
          @include get-font-styles(24px, 400, 45/24);
        }
      }
    }

    .common-terms {
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
