#page-popular-track {
  padding: 100px 20px 0 20px;

  h2 {
    margin-bottom: 48px;

    @include get-h2-mobile-style();
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(6, 55px);
    grid-template-columns: 55px minmax(170px, 456px) 25px;
    gap: 25px 15px;

    .cover {
      width: 55px;
      height: 55px;
    }

    .track,
    .duration {
      align-self: center;
    }

    .track div:nth-child(1) {
      @include get-font-styles(12.8px, 700);
    }

    .track div:nth-child(2),
    .duration {
      @include get-font-styles(12.8px, 400);
    }

    .duration {
      text-align: end;
    }
  }
}

@media (min-width: 650px) {
  #page-popular-track {
    .grid {
      grid-template-rows: repeat(3, 55px);
      grid-template-columns: 55px 140px auto 55px 140px auto;
      gap: 25px 15px;

      .cover-2 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }

      .track-2 {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
      }

      .duration-2 {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
      }

      .cover-3 {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
      }

      .track-3 {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
      }

      .duration-3 {
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
      }

      .cover-4 {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
      }

      .track-4 {
        grid-row: 1 / span 1;
        grid-column: 5 / span 1;
      }

      .duration-4 {
        grid-row: 1 / span 1;
        grid-column: 6 / span 1;
      }

      .cover-5 {
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
      }

      .track-5 {
        grid-row: 2 / span 1;
        grid-column: 5 / span 1;
      }

      .duration-5 {
        grid-row: 2 / span 1;
        grid-column: 6 / span 1;
      }

      .duration-1,
      .duration-2,
      .duration-3 {
        margin-right: 34px;
      }
    }
  }
}

@media (min-width: 1024px) {
  #page-popular-track {
    h2 {
      @include get-h2-desktop-style();
    }
  }
}

@media (min-width: 1440px) {
  #page-popular-track {
    width: 1200px;

    .grid {
      margin-right: 50px;
    }
  }
}
