@import "../abstracts/mixins";
@import "../abstracts/functions";

body {
  color: get-color();

  @include get-font-styles(16px);
}

body,
ul,
input,
p,
h2,
figure,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: get-color("black");
}

a {
  text-decoration: none;
}

.container {
  margin: 0 20px;
}

.upper {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.y-center {
  align-items: center;
}

.orange {
  color: get-color('orange');
}

@media (min-width: 1024px) {
  .container {
    margin: 0 100px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
