@import "../abstracts/mixins";
@import "../abstracts/functions";

body {
  color: get-color();

  @include get-font-styles(16px);
}

body,
ul,
input,
p,
h2,
h3,
figure,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: get-color("black");
}

a {
  color: get-color();

  text-decoration: none;
}

.upper {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.y-center {
  align-items: center;
}

.orange {
  color: get-color('orange');
}

.mx-20 {
  margin: 0 20px;
}
