@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}
