@import "../abstracts/mixins";
@import "../abstracts/functions";

/// fs - font styles
/// dt - desktop
/// mb - mobile
/// cap - capitalize
/// txt - regular text

.fs-primary {
  color: get-color();
  @include get-font-styles(16px);
}

.fs-h1-dt {
  @include get-font-styles(60px, 700);
}

.fs-h2-dt {
  @include get-font-styles(38px, 700);
}

.fs-h3-dt {
  @include get-font-styles(24px, 400, 45/24);
}

.fs-h3-dt-cap {
  @include get-font-styles(24px, 400, 45/24);
  text-transform: capitalize;
}

.fs-h3-dt-bold {
  @include get-font-styles(24px, 700, 45/24);
  text-transform: capitalize;
}

.fs-h4-dt {
  @include get-font-styles(18px, 700);
}

.fs-h4-dt-cap {
  @include get-font-styles(18px, 700);
  text-transform: capitalize;
}

.fs-h1-mb {
  @include get-font-styles(30px, 700);
}

.fs-h2-mb {
  @include get-font-styles(18px, 700);
}

.fs-h3-mb {
  @include get-font-styles(16px, 700);
}

.fs-h4-mb {
  @include get-font-styles(18px, 700, 1.33);
}

.fs-txt-64 {
  @include get-font-styles(64px);
}

.fs-txt-56 {
  @include get-font-styles(56px);
}

.fs-txt-48 {
  @include get-font-styles(48px);
}

.fs-txt-40 {
  @include get-font-styles(40px);
}

.fs-txt-32 {
  @include get-font-styles(32px);
}

.fs-txt-30 {
  @include get-font-styles(30px);
}

.fs-txt-24 {
  @include get-font-styles(24px);
}

.fs-txt-12 {
  @include get-font-styles(12.8px);
}

.fs-txt-12-bold {
  @include get-font-styles(12.8px, 700);
}

.fs-txt-11 {
  @include get-font-styles(11px, 700, 1.15);
}
