body {
  color: #fff;
  font: normal 400 16px/1.5 "Roboto-Regular", "sans-serif";
}

body,
ul,
input,
p,
h2,
h3,
figure,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: #08020d;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 20px;
}

.upper {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.y-center {
  align-items: center;
}

.orange {
  color: #f89202;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 100px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/Roboto-Regular.ttf");
}
.catalogue-item {
  max-width: 137px;
}
.catalogue-item img {
  max-width: 100%;
}
.catalogue-item .catalogue-info h3 {
  margin-top: 18px;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}

@media (min-width: 414px) {
  .catalogue-item {
    max-width: 250px;
  }
}
.btn {
  text-align: center;
}

.access-btn {
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #34c176;
  color: #fff;
  font: normal 400 13.3px/1.15 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}

.checkout-btn {
  width: 100%;
  height: 66px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font: normal 400 16px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}

.album-btn {
  width: 135px;
  height: 53px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-color: transparent;
}
.album-btn a {
  color: #cacaca;
  font: normal 400 12.8px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}

.download-btn {
  width: 129px;
  height: 51px;
  border: 1px solid #95390c;
  border-radius: 2rem;
  background-color: #95390c;
}
.download-btn a {
  color: #fff;
  font: normal 400 12.8px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}

.art-banner .btn {
  border-radius: 5px;
}
.art-banner .btn + .btn {
  margin-top: 24px;
}
.art-banner .mix-btn,
.art-banner .favorite-btn {
  width: 200px;
  height: 62px;
  text-align: start;
  color: #fff;
  font: normal 400 12.8px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}
.art-banner .mix-btn {
  background-color: #5328a1;
  border: 1px solid #5328a1;
}
.art-banner .favorite-btn {
  background-color: #95390c;
  border: 1px solid #95390c;
}

@media (min-width: 375px) {
  .access-btn {
    width: 100%;
  }
}
@media (min-width: 414px) {
  .access-btn {
    width: 100%;
    max-width: 374px;
  }
}
@media (min-width: 650px) {
  .access-btn {
    max-width: 570px;
    margin: 0;
    grid-column: 2/span 2;
    grid-row: 2/2;
  }
}
footer.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer h2 {
  margin: 0;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
footer .footer-down {
  padding: 40px 0 48px 0;
  border-top: 1px solid #e0e0e0;
}
footer .footer-down .submenu li + li {
  margin-top: 16px;
}
footer .footer-up {
  padding: 32px 0 75px 0;
}
footer .footer-up .flex {
  justify-content: space-between;
}
footer .footer-up .submenu {
  margin: 30px 20px 0 0;
}
footer .footer-up .submenu h2 + ul {
  margin-top: 16px;
}
footer .footer-up .submenu .icons li + li {
  margin-left: 24px;
}

@media (min-width: 650px) {
  .footer-down .submenu ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-down .submenu ul li + li {
    margin: 0 0 0 15px;
  }
}
header {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
}
header .container {
  font: normal 700 11px/1.15 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
header .grid {
  display: grid;
  grid-template-rows: 24px 55px 25px;
  gap: 17px;
}
header .grid .control-1 {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1/span 1;
}
header .grid .control-2 {
  grid-row: 2/span 1;
}
header .grid .control-3 {
  grid-row: 3/span 1;
}
header nav ul {
  display: block;
}
header nav li + li {
  margin-top: 3px;
}
header a {
  color: #fff;
}
header input {
  width: 100%;
  height: 25px;
  padding: 0 0 0 10px;
  border: none;
  border-radius: 50px;
  background-color: #3c3b3d;
}

.main-logo {
  width: 24px;
  height: 24px;
  margin: 1px 16px 0 0;
}

@media (min-width: 414px) {
  header input {
    max-width: 374px;
  }
}
@media (min-width: 650px) {
  header .grid {
    display: grid;
    grid-template-columns: 169px 314px;
    grid-template-rows: 24px 25px;
    gap: 18px;
  }
  header .grid .control-1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  header .grid .control-2 {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  header .grid .control-3 {
    grid-column: 1/span 2;
    grid-row: 2;
  }
  header .grid nav {
    align-self: center;
  }
  header .grid nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  header .grid nav ul li + li {
    margin-top: 0;
  }
}
@media (min-width: 807px) {
  header .grid {
    display: grid;
    grid-template-columns: 169px 314px auto;
    grid-template-rows: auto;
    gap: 18px;
  }
  header .grid .control-1 {
    grid-column: 1/span 1;
  }
  header .grid .control-2 {
    grid-column: 2/span 1;
  }
  header .grid .control-3 {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }
  header input {
    max-width: 248px;
    justify-self: end;
  }
}
.banner h1 {
  font: normal 700 30px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
.banner h2 {
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
.banner.bg-banner {
  background-size: cover;
  background-position-x: center;
}
.banner.home-banner {
  padding: 250px 0 200px 0;
  background-image: url("../../src/images/banner.png");
}
.banner.home-banner h1,
.banner.home-banner h2,
.banner.home-banner p {
  margin: 0;
  text-align: center;
}
.banner.home-banner h2,
.banner.home-banner p {
  margin-bottom: 16px;
}
.banner.home-banner .grid {
  display: grid;
  grid-template-rows: repeat(2, 50px) 57px;
  gap: 24px;
}
.banner.home-banner .grid .form-control {
  width: 100%;
  margin: 0 auto;
  padding-left: 22px;
  background-color: transparent;
  border: solid 2px #cacaca;
  border-radius: 3px;
  color: #fff;
}
.banner.home-banner .grid .form-control::-moz-placeholder {
  color: #fff;
}
.banner.home-banner .grid .form-control::-webkit-input-placeholder {
  color: #fff;
}
.banner.art-banner {
  padding: 225px 0;
  background-image: url("../../src/images/Morten Harket.png");
}
.banner.art-banner h1 {
  margin: 0 0 16px 0;
}
.banner.art-banner p {
  margin: 0 0 48px 0;
}
.banner.art-banner .flex {
  flex-direction: column;
}
.banner.art-banner .flex button img {
  vertical-align: middle;
  margin-left: 31px;
  filter: invert(1);
}
.banner.art-banner .flex button .play-icon {
  width: 20px;
  height: 20px;
}
.banner.art-banner .flex button .favorite-icon {
  width: 20px;
  height: 18px;
}
.banner.art-banner .flex button span {
  margin-left: 16px;
}

@media (min-width: 375px) {
  .banner.home-banner .grid .form-control {
    width: 100%;
  }
}
@media (min-width: 414px) {
  .banner.home-banner .grid .form-control {
    width: 100%;
    max-width: 374px;
  }
}
@media (min-width: 650px) {
  .banner.home-banner {
    padding: 200px 0;
  }
  .banner.home-banner .grid {
    display: grid;
    grid-template-columns: auto repeat(2, 273px) auto;
    grid-template-rows: 50px 57px;
    gap: 24px;
  }
  .banner.home-banner .grid .ctrl-1 {
    grid-column: 2/span 1;
    grid-row: 1/1;
  }
  .banner.home-banner .grid .ctrl-2 {
    grid-column: 3/span 1;
    grid-row: 1/1;
  }
}
@media (min-width: 807px) {
  .banner.home-banner .container h1 {
    font: normal 700 60px/1.5 "Roboto-Bold", "sans-serif";
  }
  .banner.home-banner .container h2 {
    margin-bottom: 32px;
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
}
@media (min-width: 807px) {
  .banner.art-banner .container h1 {
    font: normal 700 60px/1.5 "Roboto-Bold", "sans-serif";
  }
}
#page-pricing {
  padding: 100px 0 0 0;
}
#page-pricing h2 {
  margin-bottom: 46px;
  text-align: center;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-pricing .common-terms {
  margin-top: 40px;
  text-align: center;
  font-stretch: condensed;
}
#page-pricing .grid {
  display: grid;
  grid-template-rows: repeat(3, 621px);
  gap: 27px;
}
#page-pricing .grid .card {
  width: 100%;
  max-width: 376px;
  min-width: 210px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  border: 0.1px solid #08020d;
  border-radius: 15px;
}
#page-pricing .grid .card h3 {
  margin: 18px 0 184px 0;
  font: normal 700 16px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-pricing .grid .card .price {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}
#page-pricing .grid .card .price .amount {
  margin-right: 16px;
  font: normal 400 64px/1.5 "Roboto-Regular", "sans-serif";
}
#page-pricing .grid .card .price span {
  margin-top: 12px;
  font: normal 400 32px/1.5 "Roboto-Regular", "sans-serif";
}
#page-pricing .grid .card .btn-container {
  margin-bottom: 64px;
  padding: 0 24px;
}
#page-pricing .grid .card .terms {
  padding: 0 24px;
  font: normal 400 12.8px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}
#page-pricing .grid .card-1 {
  grid-row: 1/span 1;
  background-image: url(../images/subscribe_1.png);
}
#page-pricing .grid .card-2 {
  grid-row: 2/span 1;
  background-image: url(../images/subscribe_2.png);
}
#page-pricing .grid .card-3 {
  grid-row: 3/span 1;
  background-image: url(../images/subscribe_3.png);
}

@media (min-width: 843px) {
  #page-pricing h2 {
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
  #page-pricing .grid {
    display: grid;
    grid-template-columns: repeat(2, 376px);
    grid-template-rows: repeat(2, 621px);
    justify-content: center;
  }
  #page-pricing .grid .card-1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  #page-pricing .grid .card-2 {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  #page-pricing .grid .card-3 {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
  }
}
@media (min-width: 1440px) {
  #page-pricing .grid {
    display: grid;
    grid-template-columns: repeat(3, 378px);
    grid-template-rows: 621px;
  }
  #page-pricing .grid .card h3 {
    font: normal 400 24px/1.875 "Roboto-Regular", "sans-serif";
    font-stretch: condensed;
  }
  #page-pricing .grid .card-1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  #page-pricing .grid .card-2 {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  #page-pricing .grid .card-3 {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }
  #page-pricing .common-terms {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
#page-popular-track {
  padding: 100px 0 0 0;
}
#page-popular-track h2 {
  margin-bottom: 48px;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-popular-track .container {
  width: inherit;
}
#page-popular-track .container .grid {
  display: grid;
  grid-template-columns: 55px 140px auto;
  grid-template-rows: repeat(6, 55px);
  gap: 25px;
}
#page-popular-track .container .grid .cover {
  width: 55px;
  height: 55px;
}
#page-popular-track .container .grid .track,
#page-popular-track .container .grid .duration {
  align-self: center;
}
#page-popular-track .container .grid .track div:nth-child(1) {
  font: normal 700 12.8px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-popular-track .container .grid .track div:nth-child(2),
#page-popular-track .container .grid .duration {
  font: normal 400 12.8px/1.5 "Roboto-Regular", "sans-serif";
  font-stretch: condensed;
}
#page-popular-track .container .grid .duration {
  text-align: end;
}

@media (min-width: 650px) {
  #page-popular-track .container .grid {
    grid-template-columns: 55px 140px auto 55px 140px auto;
    grid-template-rows: repeat(3, 55px);
    gap: 25px;
  }
  #page-popular-track .container .grid .cover-2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .track-2 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .duration-2 {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .cover-3 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  #page-popular-track .container .grid .track-3 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  #page-popular-track .container .grid .duration-3 {
    grid-column: 3/span 1;
    grid-row: 3/span 1;
  }
  #page-popular-track .container .grid .cover-4 {
    grid-column: 4/span 1;
    grid-row: 1/span 1;
  }
  #page-popular-track .container .grid .track-4 {
    grid-column: 5/span 1;
    grid-row: 1/span 1;
  }
  #page-popular-track .container .grid .duration-4 {
    grid-column: 6/span 1;
    grid-row: 1/span 1;
  }
  #page-popular-track .container .grid .cover-5 {
    grid-column: 4/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .track-5 {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .duration-5 {
    grid-column: 6/span 1;
    grid-row: 2/span 1;
  }
  #page-popular-track .container .grid .duration-1,
#page-popular-track .container .grid .duration-2,
#page-popular-track .container .grid .duration-3 {
    margin-right: 25px;
  }
}
@media (min-width: 1024px) {
  #page-popular-track h2 {
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
}
@media (min-width: 1440px) {
  .grid {
    margin-right: 50px;
  }
}
#page-discography {
  padding: 100px 0 0 0;
}
#page-discography h2 {
  margin-bottom: 48px;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-discography .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 137px);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 20px;
}

@media (min-width: 375px) {
  #page-discography .container .grid {
    gap: 25px 50px;
  }
}
@media (min-width: 414px) {
  #page-discography .container .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 590px) {
  #page-discography .container .grid {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 890px) {
  #page-discography .container .grid {
    grid-template-columns: repeat(3, 250px);
  }
}
@media (min-width: 1024px) {
  #page-discography h2 {
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
}
@media (min-width: 1350px) {
  #page-discography .container .grid {
    grid-template-columns: repeat(4, 250px);
  }
}
#page-news {
  padding: 100px 0 0 0;
}
#page-news h2 {
  margin-bottom: 48px;
  text-align: center;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-news .grid {
  display: grid;
  grid-template-areas: "singer-1" "singer-2";
  gap: 64px;
}
#page-news .grid .singer-1 {
  grid-area: "singer-1";
}
#page-news .grid .singer-2 {
  grid-area: "singer-2";
}
#page-news .grid .singer img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 374px;
}
#page-news .grid .singer .news-card {
  max-width: 374px;
  margin: 0 auto;
}
#page-news .grid .singer .news-card .album-title {
  margin-top: 50px;
  margin-bottom: 16px;
}
#page-news .grid .singer .news-card .description {
  margin-bottom: 23px;
  color: #cacaca;
}
#page-news .grid .singer .news-card .flex {
  margin-bottom: 48px;
}
#page-news .grid .singer .news-card .flex .music-box-avatar {
  height: 19px;
  width: 19px;
  margin: 0;
}
#page-news .grid .singer .news-card .flex p {
  margin-left: 16px;
}

@media (min-width: 843px) {
  #page-news h2 {
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
  #page-news .grid .singer img {
    max-width: 575px;
  }
  #page-news .grid .singer .news-card {
    max-width: 575px;
  }
  #page-news .grid .singer .news-card .album-title {
    font: normal 400 30px/1.5 "Roboto-Regular", "sans-serif";
  }
}
@media (min-width: 1440px) {
  #page-news .grid {
    display: grid;
    grid-template-areas: "singer-1" "singer-2";
    row-gap: 65px;
  }
  #page-news .grid .singer {
    display: flex;
  }
  #page-news .grid .singer.singer-1 {
    grid-area: "singer-1";
  }
  #page-news .grid .singer.singer-1 .news-card {
    margin-left: 50px;
  }
  #page-news .grid .singer.singer-1 .news-card .album-title {
    margin: 0 0 30px 0;
  }
  #page-news .grid .singer.singer-2 {
    grid-area: "singer-2";
  }
  #page-news .grid .singer.singer-2 .news-card {
    margin-right: 50px;
  }
  #page-news .grid .singer.singer-2 .news-card .album-title {
    margin: 0 0 30px 0;
  }
  #page-news .grid .singer.singer-2 .pic-2 {
    order: 2;
  }
  #page-news .grid .singer.singer-2 .news-card-2 {
    order: 1;
  }
}
#page-app {
  padding: 100px 0;
}
#page-app h2 {
  margin-bottom: 48px;
  text-align: center;
  font: normal 700 18px/1.5 "Roboto-Bold", "sans-serif";
  font-stretch: condensed;
}
#page-app .wrapper {
  max-width: 374px;
  margin: 0 auto;
}
#page-app .wrapper .flex {
  display: flex;
  flex-direction: column;
}
#page-app .wrapper .flex img {
  display: block;
  order: 1;
  margin: auto;
  width: 100%;
}
#page-app .wrapper .flex .app-description {
  position: relative;
  top: -14px;
  order: 2;
  margin: 0 auto;
}
#page-app .wrapper .flex .app-description .btn {
  margin-top: 16px;
}

@media (min-width: 843px) {
  #page-app h2 {
    font: normal 700 38px/1.5 "Roboto-Bold", "sans-serif";
    font-stretch: condensed;
  }
  #page-app .wrapper {
    max-width: 100%;
  }
  #page-app .wrapper .flex {
    flex-direction: row;
    max-width: 100%;
  }
  #page-app .wrapper .flex .app-description {
    top: 0;
    order: 1;
    margin: 0;
    max-width: 600px;
  }
  #page-app .wrapper .flex img {
    order: 2;
    max-width: 333px;
  }
}

/*# sourceMappingURL=style.css.map */
