@import "./base/fonts";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./base/base";
@import "./components/album-item.scss";
@import "./components/buttons.scss";
@import "./layouts/footer.scss";
@import "./layouts/header.scss";
@import "./sections/banner.scss";
@import "./sections/pricing.scss";
@import "./sections/tracks.scss";
@import "./sections/catalogue.scss";
@import "./sections/news.scss";
@import "./sections/app.scss";
